{:paths ["src" "dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "4329fa31b75bf26c04bdcc803a52fe642baec56e"}
        io.github.mentat-collective/emmy {:git/sha "a6a79daebb82f95a7239e5ad0e8477ac8a27e539"}
        io.github.mentat-collective/clerk-utils {:git/sha "a508ab01d0fb04a44c0a6a1dd510207b2ca7135e"}
        org.mentat/emmy-viewers {:mvn/version "0.2.0"}}
 :aliases
 {:nextjournal/clerk
  {:extra-deps
   {io.github.nextjournal/clerk.render
    {:git/url "https://github.com/nextjournal/clerk"
     ;; make sure this sha matches the one in `:deps` above.
     :git/sha "4329fa31b75bf26c04bdcc803a52fe642baec56e"
     :deps/root "render"}}
   :exec-fn user/build!}}}
